<%if @user.errors.any? %>

  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> User Not found:</h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Edit <%= @user.username %> data</h1>

<%= render partial: "form" %>
